/* Light Theme Styles */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7; /* Light background for the container */
}

.forgot-password-box {
  background-color: #ffffff; /* White background for the box */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 30px;
  max-width: 450px;
  width: 100%;
  margin-bottom: 6rem;
  text-align: center;
  margin-top: 7rem;
}

.title {
  font-size: 22px; /* Adjusted font size */
  margin-bottom: 15px;
  color: #333; /* Dark text color */
}

.description {
  font-size: 14px; /* Adjusted font size */
  color: #666; /* Medium gray */
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.reset-button {
  background-color: #1d3b53; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #15324b; /* Darker on hover */
}

@media (max-width: 600px) {
  .forgot-password-box {
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .reset-button {
    font-size: 14px;
  }
}

/* Dark Theme Styles */
.dark-mode .forgot-password-container {
  background-color: #010016; /* Dark background for the container */
}

.dark-mode .forgot-password-box {
  background-color: #15324b; /* Dark background for the box */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2); /* Lighter shadow for dark mode */
  padding: 30px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  margin-top: 7rem;
}

.dark-mode .title {
  margin-bottom: 15px;
  color: #e0e0e0; /* Light text color */
}

.dark-mode .description {
  font-size: 14px;
  color: #b0b0b0; /* Lighter gray */
  margin-bottom: 20px;
}

.dark-mode .input-group label {
  font-size: 14px;
  color: #ccc; /* Light text color */
}

.dark-mode .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Darker border for dark mode */
  border-radius: 4px;
  background-color: #15324b; /* Dark background for input */
  color: #e0e0e0; /* Light text color */
  outline: none;
}

.dark-mode .reset-button {
  background-color: #4a90e2; /* Lighter blue for dark mode */
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dark-mode .reset-button:hover {
  background-color: #357abd; /* Slightly darker blue on hover */
}
