.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30px;
}
.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #666; /* Icon color */
}

.password-eye-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666; /* Adjust color as needed */
}

.reset-password-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.reset-password-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.reset-password-description {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 20px;
}

.reset-password-input-group {
  margin-bottom: 20px;
  text-align: left;
}

.reset-password-label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

.reset-password-input {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.reset-password-input:focus {
  border-color: #1d3b53;
  outline: none;
}

.reset-password-submit-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #15324b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.reset-password-submit-button:hover {
  background-color: #1d3b53;
}

.reset-password-submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.hidden {
  display: none; /* This hides the element completely */
}
/* Dark mode styles */

.dark-mode .reset-password-box {
  background-color: #15324b;
  color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.dark-mode .reset-password-title {
  color: #ffffff;
}

.dark-mode .reset-password-description {
  color: #cccccc;
}

.dark-mode .reset-password-label {
  color: #bbbbbb;
}

.dark-mode .reset-password-input {
  background-color: #15324b;
  color: #ffffff;
}

.dark-mode .reset-password-input:focus {
  border-color: #eee;
}

.dark-mode .reset-password-submit-button {
  background-color: #0056b3;
}

.dark-mode .reset-password-submit-button:disabled {
  background-color: #555;
}
